/* Stiziles */

html, body {
  background: #222222;
  overflow: hidden;
}

.single-slide {
  position: relative;
  float: left;
  width: 1024px;
}
span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  color: #333;
}